.App {
  text-align: left;
  padding: 20px;
  margin: 0 auto; /* centering the app */
  max-width: 400px; /* limiting the max-width to keep the text readable */
}

.App button {
  margin: 5px;
}

.info p {
  font-size: 1em;
  margin-bottom: 0px;
}

.button-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.selected {
  background-color: #818181; /* Green */
  color: white;
  font-weight: bold;
}

input[type="range"] {
  margin: 20px 0;
  width: 100%;
}

.wordcount {
  margin-bottom: 10px;
  margin-top: 5px;
  color: #414141;
  font-size: 0.8em;
}

.text-container {
  margin-top: 20px;
}
